<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Home Page</h1>
    <h2>Welome to my presentation on Ruby on Rails home page!</h2>
    <%= link_to "Sign Up!", "#", class:"btn btn-info btn-primary" %>
</div>
