<li id="<%= wall_item.id %>">
    <span class="user">
    <%= link_to wall_item.user.name, wall_item.user %>
  </span>
    <span class="content"><%= wall_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(wall_item.created_at) %> ago.
  </span>
</li>