<footer class="footer">
    <small>
        A small demonstration on rails By Justin Henricks
    </small>
    <nav>
        <ul>
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Sign In", '#' %></li>
        </ul>
    </nav>
</footer>